 /* UL Styles */
 
 ul#class {
     text-indent: 10px;
     list-style-position: inside;
     line-height: 30px;
 }
 
 /* Article Styles */
 
 article p {
     text-indent: 5px;
     font-size: 20px;
     line-height: 20px;
     letter-spacing: 2px;
     margin-bottom: 10px;
 }

 /* Other Devices Styles */
 
 @media only screen and (max-width: 1440px) { /* Laptop */
    
    h1#title {
        font-size: 3em;
    }
}
 
 @media only screen and (max-width: 1440px) { /* Laptop */
    
    h1#title {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) { /* Tablet */
    
    h1#title {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) { /* Mobile */
    
    h1#title {
        font-size: 2em;
    }
}
